# non-dot files
/[^.]*
!python

python/lekcje
python/KeepTrack
python/oponafelga/datasets
python/IC/datasets
python/oponeo/datasets
python/localtemp

.adobe
.android
.appdata
.bash_history
.bash_logout
.cache
.config
.conkyrc
.dir_colors
.dmrc
.dockbarx
.elinks
.esd_auth
.gimp-2.8
.git
.git-credentials
.git-user
.gksu.lock
.gnome
.gnupg
.gstreamer-0.10
.guayadeque
.ICEauthority
.icons
.inputrc
.ipython
.jupyter
.lesshst
.linssid.prefs
.local
.macromedia
.mozilla
.mp3edit_abandonded
.pki
.purple
.rnd
.Skype
.ssh
.subversion
.swo
.swp
.thumbnails
.thunderbird
.vim
.viminfo
.vimrc.backup
.vim.zip
.Xauthority
.xfce4-session.verbose-log
.xfce4-session.verbose-log.last
.xinitrc
.Xmodmap
.xmpgeditrc
.Xresources
.xsession-errors
.xsession-errors.old
